/*
*{
    margin: 0%;
    padding: 0; 
}
*/

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /**other option font: normal 16px Arial, Helvetica, sans-serif;**/
    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:red;
}

a:active{
    color: green;
}

a:visited{

}

.container{
    width: 80%;
    margin: auto;
}

/*button moved up under .container because it is global*/
.button{
    background-color: #333;
    color:#fff;
    padding:10px 15px;
    border:none;
}

.button:hover{
    background:red;
    color: #ffffff;
}

.clr{
    clear: both;
}

/*anything global should be moved closed to the top of styling sheet - ie button and clr*/

.box-1{
    background-color: #333;
    color: #fff;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-bottom: 5px red solid;
    border-top: 5px red solid;

    /** border: 5px red solid; same as above**/
    border-width: 3px;
    border-bottom width: 10px;
    border-top-style:dotted;

    padding-top:20px;

    margin-top: 20px;
    margin:20px 0;

}

.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border:3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.categories{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
}

.categories li{
    padding:3px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../../Images/check.png');
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    /**[type="text"] will resize the Subtmit button to not take up the full screen*/
    /*,.my-form textarea will have the my-form (message field) cover the width of the screen*/
    padding: 8px;
    width:100%;
}


.block{
    /*linese up the block headings horizontally next to one another, rather than by default vertically one over the other*/
    float: left;
    width:33.3%;
    border: 1px solid #ccc;
    padding:10px;
    box-sizing: border-box;
    /*box-sizing will make sure content stays in line even with all the padding, border and width attributes*/
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color:#333;
    color:#fff;
    padding: 15px;
    box-sizing: border-box;
}
/*#side-bar will push the paragragh to the right*/
/*the box will also be greyed out with the color background*/
